src/main/resources/wsdl/Proveedores/ValidacionTarjeta.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.validartarjeta.com.co/ValidadorTarjeta/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ValidadorTarjeta" targetNamespace="http://www.validartarjeta.com.co/ValidadorTarjeta/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.validartarjeta.com.co/ValidadorTarjeta/">

			<xsd:element name="CreditCardValidationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ccType" type="xsd:string" />
						<xsd:element name="ccNum" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="CreditCardValidationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="valid" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="CreditCardPaymentRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ccType" type="xsd:string" />
						<xsd:element name="ccNum" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="CreditCardPaymentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="valid" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="CreditCardValidationError">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="error" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CreditCardValidationRequestMessage">
		<wsdl:part name="credidcard" element="tns:CreditCardValidationRequest" />
	</wsdl:message>

	<wsdl:message name="CreditCardValidationResponseMessage">
		<wsdl:part name="valid" element="tns:CreditCardValidationResponse" />
	</wsdl:message>
	
	<wsdl:message name="CreditCardPaymentRequestMessage">
		<wsdl:part name="credidcard" element="tns:CreditCardPaymentRequest" />
	</wsdl:message>

	<wsdl:message name="CreditCardPaymentResponseMessage">
		<wsdl:part name="valid" element="tns:CreditCardPaymentResponse" />
	</wsdl:message>

	<wsdl:message name="CreditCardValidationFaulMessage">
		<wsdl:part name="error" element="tns:CreditCardValidationError" />
	</wsdl:message>

	<wsdl:portType name="ValidateCreditCardService">
		<wsdl:operation name="VerifyCC">
			<wsdl:input message="tns:CreditCardValidationRequestMessage" />
			<wsdl:output message="tns:CreditCardValidationResponseMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="PaymentCC">
			<wsdl:input message="tns:CreditCardPaymentRequestMessage" />
			<wsdl:output message="tns:CreditCardPaymentResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ValidateCreditBinding" type="tns:ValidateCreditCardService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="VerifyCC">
			<soap:operation	soapAction="VerifyCC" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PaymentCC">
			<soap:operation	soapAction="PaymentCC" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ValidateCreditCardService">
		<wsdl:port name="ValidateCreditCardPort" binding="tns:ValidateCreditBinding">
			<soap:address
				location="http://localhost:8080/ValidateCC/ValidateCreditCardService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
